@model ChangePassword

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (TempData["Password"] != null)
{
    <div class="alert alert-danger">
        <strong>
            Fail
        </strong>@TempData["Password"]
    </div>
}
<br />

<div class="col-md-8 grid-margin stretch-card" style="margin-left:230px">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" style="text-align:center">Change User Account</h3>
            <form asp-controller="Admin" asp-action="EditUser" asp-route-userid="@ViewData["id"]" method="post">
                <div class="form-group">
                    <input type="text" asp-for="CurrentPassword" />
                    <label asp-for="CurrentPassword"></label>
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="NewPassword" />
                    <label asp-for="NewPassword"></label>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="form-group">
                    <input type="text" asp-for="ConfirmPassword" />
                    <label asp-for="ConfirmPassword"></label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>


                <input type="submit" value="Update" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>


