@model List<Cart>
 @{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Confirm Information</h4>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Full Name</label>
                        <input class="form-control" type="text" placeholder="John">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" placeholder="example@email.com">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Phone</label>
                        <input class="form-control" type="number" placeholder="0909090909">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                                            
                </div>
                <br />
                <hr />
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        @* <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total:</h4>
                        </div> *@
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total:</h5>

                            </div>
                        </div>

                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-2 py-2">Order</button>
                    </div>
                </div>
            </div>
             
        </div>
        
    </div>
</div>
