@model IEnumerable<ASM_DEMO_1670.Models.Genre>
@{
    ViewData["Title"] = "Index";

}

<a class=" btn btn-primary" asp-action="Create">Add new</a>
<table class="table table-hover">
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th>Description</th>
    </tr>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <th>@genre.genre_Id</th>
                <th>@genre.genre_Name</th>
                <th>@genre.genre_Description</th>
                <td>
                    <a asp-action="Edit" asp-route-id=@genre.genre_Id> Edit</a>
                    <a asp-action="Delete" asp-route-id=@genre.genre_Id onclick="return confirm('Are You Sure?');"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


